a {
    color: inherit;
    text-decoration: none; 
 } 
 
body{
    margin:0;
    height: 100%;
}

.bg-applier{
    width: 100%;
    height:100%;
    /* background: rgb(222,176,138);
    background: linear-gradient(90deg, rgba(222,176,138,1) 32%, rgba(111,184,107,1) 71%); */
    background-color: rgb(243, 237, 237);
}


.wrapper{
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns: 8% 30% 30% 30%;
    grid-template-rows: 100%;
    /* background-color: rgba(255,255,255,0.15); */
    /* backdrop-filter: blur(100px); */
    height: 660px;
}

.grid1{
    background-color: rgba(255, 255,255,0.3);
    margin: 1.5em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
}

.bi-house-fill,.bi-geo-alt-fill,.bi-house-fil,.bi-geo-alt-fil{
    font-size: 35px;
    color:rgb(46, 45, 45);
    text-align: center;
    margin-top:1em;
}

.grid2{
    margin: 1.5em;
}

.profile-search{
    border-radius: 20px;
    margin:0.3em;
    background: rgb(226,102,0);
    background: linear-gradient(90deg, rgba(226,102,0,1) 32%, rgba(0,52,163,1) 71%);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 12%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logout{
    margin-left: 7.4em;
    cursor: pointer;
    color:rgb(73, 184, 235);
}

.pending-div{
    border-radius: 20px;
    margin:1em;
    background-color: rgba(255, 255,255,0.5);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 37%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.complete-div{
    border-radius: 20px;
    margin:1em;
    background-color: rgba(255, 255,255,0.5);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 46%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid3{
    margin: 1.5em;
}

.grid4{
    margin: 1.5em;
}

.profile-container{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.6em;
    display: flex;
    justify-content: center;
}

.account-info{
    color:white;
    font-family: 'Barlow', sans-serif;
}

.icon-container{
    margin-right:1.4em;
}

.bi-person-circle{
    color:white;
    font-size: 40px;
    margin-top: 2em;
}

.pending-container,.complete-container{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.1em;
}

.complete-para,.pending-para{
    font-family: 'Barlow', sans-serif;   
    font-size: 20px;
    color:rgb(29, 27, 27);
    font-weight:bold;
}

::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: transparent; 
}

::-webkit-scrollbar-button {
  height: 9px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
height: 2px;
border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

ul{
list-style: none;
}

.li-cont-p{
    background-color: rgba(139, 44, 52, 0.5);
    border-radius: 10px;
    padding: 0.7em;
    font-family: 'Sarabun', sans-serif;   
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.li-cont{
    background-color: rgba(10, 141, 54, 0.5);
    border-radius: 10px;
    padding: 0.7em;
    font-family: 'Sarabun', sans-serif;   
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.img-bg{
    width:352px;
    border-radius: 20px;
}

.feedback-list-container{
    border-radius: 20px;
    margin:1em;
    background-color: rgba(255, 255,255,0.5);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 59%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feedback-para{
    font-family: 'Barlow', sans-serif;   
    font-size: 20px;
    color:rgb(29, 27, 27);
    font-weight:bold;
    text-align: center;
}   

.feedback-cont{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.1em;   
}

.list-item{
    display: flex;
    border-radius: 9px;
    background-color: rgba(139, 44, 52, 0.5);
    margin-top:0.5em; 
    padding: 0.5em;
    cursor: pointer;
}

.id-pic{
    width:50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item{
    color: rgb(0, 0, 0);
    padding-left: 0.5em;
    font-family: 'Sarabun', sans-serif;
    cursor: pointer;
}

.bi-dot{
    color: rgb(10, 255, 10);
    font-size:20px;
    padding-top: 0.8em;
}

.logo-container{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255,255,0.5);
    border-radius:20px;
    height: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-img-logo{
    margin-left:2em;
    margin-top:1em;
}

.sendoutFinal{
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255,255,0.5);
    border-radius:20px;
    height: 83%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;
}

.sendoutFinalContainer{
    padding-top:0.1em;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    overflow-y: scroll;
}

.bi-arrow-left-circle{
    font-size: 25px;
}

.audit-message-link,.audit-message,.make-edit{
    font-family: 'Sarabun', sans-serif;
}

.audit-message{
    margin-left: 0.5em;
}

.audit-message-container{
    border-left: 2px solid green;
}

.audit-message-container-me{
    border-left: 2px solid red;
}

.bi-patch-check-fill,.bi-hourglass-split,.patch-check{
    color:rgb(73, 184, 235);
}

.make-edit{
    margin-left: 12em;
}

.auditHeading{
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    text-transform: uppercase;
}

.message-input-container{
    width:80%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(161, 37, 43, 0.162);
    border-radius: 999px;
    padding: 0.5em;
}

.message-reply{
    width: 80%;
    padding: 0.4em;
    border: 1px solid transparent;
    background-color:transparent;
    font-family: 'Sarabun',sans-serif;
    font-size: 15px;
}

#messageSubmitBTN{
    font-size:1.5em;
    cursor: pointer;
}

.audit-message-container-feedback{
    border-left: 2px solid blue;
}

.final-audit{
    display:block;
    font-family: 'Sarabun', sans-serif;
    text-align: center;
    font-size:14px;
    color:green;
    font-weight: bolder;
}