a {
   color: inherit;
   text-decoration: none; 
} 

.home-body{
  margin:0;
}
/* Home Page Styles */
.home-nav{
  background: rgb(255, 255, 255,0.5);
  background: rgb(249,191,96);
  background: linear-gradient(90deg, rgba(249,191,96,1) 27%, rgba(24,94,1,1) 71%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
  overflow: hidden;
  padding: 0.4em;
  backdrop-filter: blur(50px);
}

.home-nav-list{
  display:inline;
  margin-left:2em;
  font-family: 'Barlow', sans-serif;
}

.home-nav-list:hover{
  color:rgb(73, 184, 235);
  cursor: pointer;
}

.nav-img-logo{
  margin-top: 0.4em;
}

.nav-container{
  display: flex;
}

.home-right-nav{
  margin-left:400px;
  font-size: 13px;
  padding-top:1em;
  color:white;
}


.home-left-nav{
  font-size: 13px;
  color:white;
}

.home-title{
  text-align: center;
  font-size:40px;
  margin-top:2em;
  font-family: 'Barlow', sans-serif;
  color:black;
}

.home-description{
  text-align: center;
  font-size:18px;
  margin-top:2em;
  width:70%;
  margin:auto;
  font-family: 'Sarabun', sans-serif; 
  color:black;
}

.home-cta{
  background: rgb(73, 184, 235);
  padding:1.1em;
  border: 1px solid transparent;
  border-radius:999px;
  font-family: 'Barlow', sans-serif;
  color:white;
}

.home-cta:hover{
  border:1px solid white;
  cursor:pointer;
}

.btn-container{
  width:14%;
  margin:auto;
  margin-top: 2em;
}

.chimp-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.bi-arrow-right{
  color:white;
  margin-left:1em;
}

/* Auth Page */
.auth-container-center{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
  width: 30%;
  border-radius: 20px;
  margin-top:5em;
  margin-right:auto;
  margin-left:auto;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(100px);
}

.login-word{
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.nav-img-logo-login{
  margin-left: 4em;
}

.auth-body{
  margin:0;
}

.auth__container{
  width:100%;
}